{% extends "index.html" %}


{% block content %}
<div class="create-todo">
    <h1 class="caption">CREATE NEW TODO</h1><br>
    <form id="create-new-todo">
        <label>Name</label><br>
        <input class="name border-red" type="text" name="caption"><br>
        <label>Notes</label><br>
        <textarea class="notes border-red" name="content" form="create-new-todo"></textarea><br>
        <label>Goal</label><br>

        <div class="dropdown">
            <div class="input-dropwown">
                <input type="text">
                <button type="button" class="dropbtn"><i class="fas fa-arrow-down"></i></button>
            </div>
            <div id="dropdown-goals" class="dropdown-content">
                <div data="0"><span>None</span></div>
                {% for goal in goals %}
                <div data="{{goal.id}}"><span>{{goal.caption}}</span></div>
                {% endfor %}
            </div>
        </div>
        <br>
        <input type="submit" id="sb-create-new-todo" class="btn-create-todo" value="Create todo">
    </form>
</div>
{% endblock %}
