<div id="sidebar">
    <div id="dropdown-parent-create" class="dropdown">
        <div class="input-dropwown">
            <div>Create new</div>
            <button type="button" class="dropbtn"><i class="fas fa-arrow-down"></i></button>
        </div>
        <div id="dropdown-create" class="dropdown-content">
            <div onclick="location.href='/createTodo';"><span>Todo</span></div>
            <div onclick="location.href='/createGoal';"><span>Goal</span></div>
        </div>
    </div>
    <!--<div class="combox" onclick="location.href='/createTodo'"><p>New todo</p></div>-->
    <div class="item" onclick="location.href='/dashboard';"><i class="fas fa-columns"></i> <span>Dashboard</span>
    </div>
    <div class="item" onclick="location.href='/rewards';"><i class="fas fa-gift"></i> <span>Rewards</span>
    </div>
    <div class="item" onclick="location.href='/listTodo';"><i class="fas fa-list-ol"></i> <span>Todos</span></div>
    <div class="item" onclick="location.href='/goals';"><i class="fas fa-bullseye"></i> <span>Goals</span>
    </div>
    <div class="item" onclick="location.href='/logout';"><i class="fas fa-sign-out-alt"></i>
        <span>Sign out</span></div>
</div>