<div id="sidebar">
    <div class="combox" onclick="location.href='/createTodo'"><p>New todo</p></div>
    <div class="item" onclick="location.href='/dashboard';"><i class="fas fa-columns"></i> <span>Dashboard</span>
    </div>
    <div class="item" onclick="location.href='/listTodo';"><i class="fas fa-list-ol"></i> <span>Todos</span></div>
    <div class="item" onclick="location.href='/goals';"><i class="fas fa-bullseye"></i> <span>Goals</span>
    </div>
    <div class="item" onclick="location.href='/logout';"><i class="fas fa-sign-out-alt"></i>
        <span>Sign out</span></div>
</div>