.create-todo{

  color: black;
  padding: 20px 20px 0 0;
  margin-right: 40px;

  .caption {
    color: #444445;
    font-size: 25px;
    font-weight: 600;
    margin: 0;
  }

  .name {
    border: 2px solid #e9e9e9;

    outline: none;
    width: 97%;
    height: 15px;
    padding:5px 5px 5px 10px;

    margin: 0 0 20px 0;

  }

  .notes {
    padding:15px;
    border: 2px solid #e9e9e9;
    width: 95%;
    height: 150px;
    margin: 0 0 20px 0;
    outline:0 ;

  }

}

.border-red:focus{
  border-color: #ff5252;
}

.btn-create-todo{

  background-color: #ff5252;
  font-size: 15px;
  width: 120px;
  height: 35px;
  border: none;
  color: white;
  font-weight: 800;


}