
.container {
  margin: 20px 20px 0 0;
  height: 90%;
  width: 98%;
  overflow-y: auto;
  overflow-x: hidden;

  .item {
    background: white;
    margin: 0px 10px 20px 0;
    box-shadow: -2px 4px 20px -6px #777;
    min-height: 100px;

  }
}

.separator-item {
  background-color: #2a2a2a;
  height: 1px;
  opacity: 0.2;

}

