.todos {
  margin: 20px 20px 0 0;
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.todo {
  background: white;
  margin-bottom: 20px;
  height: 100px;
  box-shadow: -2px 4px 20px -6px #777;
  .todo-container {
    padding: 15px 20px 5px 20px;
    height: 100%;

    &.complete {
      .caption-t {
        text-decoration: line-through;
      }
    }
  }

}

.box-line {
  height: 55px;
}

.caption-t {
  font-size: 20px;
  color: #2a2a2a;
  font-weight: 500;
  float: left;
  width: 100%;
}

.content-t {

  font-size: 16px;
  color: #757575;

}

.btn-t-complete {
  float: right;
  cursor: pointer;
  color: #5aff75;
}

.btn-t-delete {
  float: right;
  cursor: pointer;
  color: #ff5252;
}

.date-t {
  float: left;
  color: #444445;
  opacity: 0.6;
}

.separator-todes {
  background-color: #2a2a2a;
  height: 1px;
  opacity: 0.2;

}

#scroll-bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#scroll-bar::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #efeaea;
}