.todo {
  padding: 20px 20px 5px 20px;
}

.box-line {
  height: 35px;
}


.caption-t {
  font-size: 20px;
  color:#2a2a2a;
  font-weight: 500;
  float: left;
}

.btn-t-complete {
  float: right;
  cursor: pointer;
  color: #5aff75;
}

.btn-t-delete {
  float: right;
  cursor: pointer;
  color: #ff5252;
}

.date-t {
  float: left;
  color: #444445;
  opacity: 0.6;
}


.separator-todes {
  background-color: #2a2a2a;
  height: 1px;
  opacity: 0.2;

}



#scroll-bar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#scroll-bar::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#scroll-bar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #efeaea;
}