.todos {

  .item {
    height: 100px;
  }

    .todo-container {
      padding: 15px 20px 5px 20px;
      height: 100%;

      &.complete {
        .h-caption {
          text-decoration: line-through;
        }
      }
    }

  .box-left {
    float: left;
    width: 98%;
    height: 55px;
  }

  .box-right {
    float: right;
    width: 2%;
    height: 100%;
  }



  .btn-t-complete {
    padding: 10px 0px 0px 0px;
    cursor: pointer;
    color: #5aff75;
  }

  .btn-t-delete {
    padding: 25px 0 0 0;
    cursor: pointer;
    color: #ff5252;
  }

  .date-t {
    float: left;
    color: #444445;
    opacity: 0.6;
  }



}


