{% extends "index.html" %}

{% block content %}
<div class="rewards container scroll-bar">

    {% for reward in rewards %}
    <div class="item" data="{{reward.id}}">
        <div class="reward-container">

            <div class="reward-body">
                <div class="box-left">
                    <span class="h-caption">{{reward.caption}}</span><br>
                    <span class="h-content">{{reward.reward}}</span><br>
                    <span class="h-content">  <i class="far fa-clock"></i> {{reward.date_created}}</span>
                </div>
                <div class="box-right">
                    <div class="btn-t-delete btn-delete-reward">
                        <i class="far fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Some text in the Modal..</p>
        </div>

    </div>
    {% endfor %}

</div>

{% endblock %}
