{% extends "index.html" %}


{% block content %}

<div class="create-layout">
    <h1 class="caption">CREATE NEW REWARD</h1><br>
    <form id="create-new-reward">
        <label>Name</label><br>
        <input class="name border-red" type="text" name="caption"><br>
        <label>Reward</label><br>
        <input class="name border-red" type="text" name="reward"><br>
        <input type="submit" id="sb-create-new-reward" class="btn-create" value="Create reward">


    </form>
</div>

{% endblock %}