{% extends "index.html" %}


{% block content %}

<div class="create-layout">
    <h1 class="caption">CREATE NEW GOAL</h1><br>
    <form id="create-new-goal">
        <label>Name</label><br>
        <span id="textErrorCaption" style="color:red;display: none">This field is required</span>
        <input class="name border-red" type="text" name="caption">
        <i id="imageErrorCaption" class="fas fa-exclamation-circle" style="color:red; display: none"></i>
        <br>
        <label>Reward</label><br>
        <span id="rewardError" style="color:red;display: none">This field is required</span>

        <select id="select-menu-rewards">
            <option value="hide">-- Rewards --</option>
            {% for reward in rewards %}
            <option value="{{reward.id}}">{{reward.caption}}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" id="sb-create-new-goal" class="btn-create" value="Create todo">

    </form>
</div>

{% endblock %}