{% extends "index.html" %}

{% block content %}
<div class="todos container scroll-bar">

    {% for todo in todos %}
    <div class="item" data="{{todo.id}}">
        <div class="todo-container {{'complete' if todo.complete }}">
            <div class="box-left">
                <div class="h-caption">{{todo.caption}}</div>
                <div class="h-content"> {{todo.content}}</div>
                <div class="date-t">{{todo.date}}</div>
            </div>
            <div class="box-right">
                {% if not todo.complete %}
                <div class="btn-t-complete">
                    <i class="fas fa-check"></i>
                </div>
                {% endif %}
                <div class="btn-t-delete">
                    <i class="far fa-trash-alt"></i>
                </div>
            </div>
        </div>
        <div class="separator-item"></div>
    </div>

    {% endfor %}
</div>

{% endblock %}